PROJECT_NAME=wwp_system
ADMIN_EMAIL=

# ##########
# Backend
# ##########
API_BASE_URL=http://localhost/api

# ##########
# Database
# ##########
POSTGRES_PASSWORD=mB5R7UswEEzgTKR
DATABASE_URL=postgresql+psycopg://postgres:mB5R7UswEEzgTKR@db:5432/postgres

# ##########
# Nginx
# ##########

# IP or domain name where the server can be reached
NGINX_SERVER_NAMES="localhost"

# Put here your domain name 
HTTPS_HOST=example.gov.et