@import "tailwindcss";
/* @plugin "@tailwindcss/forms"; */

@theme {
    --color-eiar-green: #075c36;
    --color-eiar-dark: #03452a;
    --color-eiar-deep: #022f1d;
    --color-eiar-gold: #f2a900;
    --color-eiar-orange: #f58220;
    --color-eiar-cream: #f7f3e8;
    --color-eiar-white: #ffffff;
}

@layer components {
    .form-label {
        @apply text-sm;
    }

    .form-input {
        @apply  border 
                border-gray-300 
                outline-none 
                focus:border-eiar-green
                focus:ring-2
                focus:ring-eiar-green/20
                px-0.5
                py-1
                rounded;
    }

     .form-input-error {
        @apply border-red-500
            focus:border-red-500
            focus:ring-red-500/20;
    }

    .form-error {
        @apply mt-1 text-sm text-red-600;
    }
}

.leaflet-pm-toolbar .leaflet-pm-icon-polygon {
    background-image: url("/map/icons/vector-polygon.svg") !important;
}

.leaflet-pm-toolbar .leaflet-pm-icon-marker {
    background-image: url("/map/icons/map-pin.svg") !important;
}

.leaflet-pm-toolbar .leaflet-pm-icon-delete {
    background-image: url("/map/icons/eraser.svg") !important;
}

.leaflet-pm-icon-import {
    background-image: url("/map/icons/import.svg");
}

@keyframes notification-progress {
    from {
        width: 100%;
    }

    to {
        width: 0%;
    }
}

